html, body {
    background-color: #00c2b2;
    margin: 0;
    padding: 0;
  }
.main {
    height: 100vh;
    background-color: #00c2b2;
}
  body {
    background-color: #00c2b2;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
  }
  
  .header {
    background-color: #00c2b2;
    background-size: cover;
    height: cover;
    text-align: center; 
  }
  
  .header h5 {
    background-color
    color: grey;
    font-size: 20px;
  }
  .header h1 {
    color: black;
    line-height: 100px; 
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase; 
  }
  
  .header h2 {
    color: black;
    line-height: 100px; 
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 80px;
  }
  .header p {
    color: black;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 4px;
    margin-bottom: 40px;
    margin-top: 0;
    margin-left: 80px;
    margin-right: 80px;
  }

.form{ 
    background-color: #00c2b2;
    background-size: cover;
    height: cover;
    text-align: center;
}
.form p{
    color: black;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 4px;
    margin-bottom: 40px;
    margin-top: 0;
    margin-left: 80px;
    margin-right: 80px;
}

  .footer { 
    position: -webkit-sticky; 
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: black;
    padding-bottom: 50px;
  }
  
  .footer p { 
    color: #00c2b2;
    font-size: 50px;  
    height: 80px; 
    line-height: 80px;
    margin: 0;  
  }
  
